@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('./fonts/helveticaneuecyr_thin.otf');
}
@font-face {
  font-family: 'HelveticaNeueCyrRom';
  src: url('./fonts/helveticaneuecyr_roman.otf');
}

@font-face {
  font-family: 'Minecraft';
  src: url('./fonts/F77_Minecraft.ttf');
}
